<picture>
  <source media="(min-width: 1024px)" srcset="../../images/hero-large.jpg, ../../images/hero-large@2x.jpg 2x">
  <source media="(min-width: 720px)" srcset="../../images/hero-medium.jpg, ../../images/hero-medium@2x.jpg 2x">
  <source media="(min-width: 500px)" srcset="../../images/hero-small.jpg, ../../images/hero-small@2x.jpg 2x">
  <img srcset="../../images/hero-xsmall.jpg, ../../images/hero-xsmall@2x.jpg 2x" alt="Shoreline in Iceland">
</picture>

<h1 class="title"><span class="small-title">Welcome to</span><br>Iceland<br><span class="small-title">64.9631° N, 19.0208° W<br>Capital City: Reykjavík  |  Population: 338,349</span></h1>

<div class="maxwidth-wrap content-grid">

  <div>
    <h1 class="title2"><span class="small-title2">Welcome to</span><br>Iceland<br><span class="small-title">64.9631° N, 19.0208° W</span></h1>
    <picture>
      <source media="(min-width: 500px)" srcset="../../images/iceland-land-small.jpg, ../../images/iceland-land-small@2x.jpg 2x">
      <img srcset="../../images/iceland-land-xsmall.jpg, ../../images/iceland-land-xsmall@2x.jpg 2x" alt="Rugged landscpae in Iceland">
    </picture>
  </div>
  <div>
    <h2>The Landscape</h2>
    <p>Geologically, Iceland is part of the Mid-Atlantic Ridge, a ridge along which the oceanic crust spreads and forms new oceanic crust. This part of the mid-ocean ridge is located above a mantle plume, causing Iceland to be subaerial (above the surface of the sea). The ridge marks the boundary between the Eurasian and North American Plates, and Iceland was created by rifting and accretion through volcanism along the ridge.</p>
    <p>—</p>
  </div>

  <div>
    <picture>
      <source media="(min-width: 500px)" srcset="../../images/iceland-lagoon-small.jpg, ../../images/iceland-lagoon-small@2x.jpg 2x">
      <img srcset="../../images/iceland-lagoon-xsmall.jpg, ../../images/iceland-lagoon-xsmall@2x.jpg 2x" alt="Famous lagoon pool in Iceland">
    </picture>
  </div>
  <div>
    <h2>Geothermal Spa</h2>
    <p>The Blue Lagoon (Icelandic: Bláa lónið) geothermal spa is one of the most visited attractions in Iceland. The spa is located in a lava field in Grindavík on the Reykjanes Peninsula, southwestern Iceland in a location favourable for Geothermal power, and is supplied by water used in the nearby Svartsengi geothermal power station. Bláa lónið is situated approximately 20 km (12 mi) from the Keflavík International Airport and 39 km (24 mi) from the capital city of Reykjavík, roughly a 21-minute drive from the airport and a 50-minute drive from Reykjavík.</p>    
    <p>—</p>
  </div>

  <div>
    <picture>
      <source media="(min-width: 500px)" srcset="../../images/iceland-city-small.jpg, ../../images/iceland-city-small@2x.jpg 2x">
      <img srcset="../../images/iceland-city-xsmall.jpg, ../../images/iceland-city-xsmall@2x.jpg 2x" alt="City in Iceland">
    </picture>
  </div>
  <div>
    <h2>Cities</h2>
    <p>Greater Reykjavík (Icelandic: Höfuðborgarsvæðið, meaning "The Capital Region") is a name used collectively for Reykjavík and six municipalities around it.[2][3] The area is by far the largest urban area in Iceland.[4] Each municipality has its own elected council. Greater Reykjavík's population of 216 940 is over 60% of the population of Iceland, in an area that is only just over 1% of the total size of the country. The size of the greater Reykjavík area is calculated from the area of its constituent municipalities, including large areas of hinterland, not the much smaller urban core of about 200 km2 (77 sq mi) [5] Municipal governments cooperate extensively in various fields: for example waste policy, shared public transport and a joint fire brigade.</p>
    <p>—</p>
  </div>

</div>