<picture>
  <source media="(min-width: 1024px)" srcset="../../images/hero1-large.jpg, ../../images/hero1-large@2x.jpg 2x">
  <source media="(min-width: 720px)" srcset="../../images/hero1-medium.jpg, ../../images/hero1-medium@2x.jpg 2x">
  <source media="(min-width: 500px)" srcset="../../images/hero1-small.jpg, ../../images/hero1-small@2x.jpg 2x">
  <img srcset="../../images/hero1-xsmall.jpg, ../../images/hero1-xsmall@2x.jpg 2x" alt="Mountain in Iceland">
</picture>

<section class="hero-resource">
  <h1 class="title-resource"><span class="small-title-resource">Iceland Travel</span><br>Resources<br></h1>
  <p class="small-title-resource">Flights | Eat | Explore</p>
</section>

<article class="maxwidth-wrap resource-grid">
  <div>
    <section class="hero-resource1">
      <h1 class="title-resource"><span class="small-title-resource">Iceland Travel</span><br>Resources<br></h1>
      <p class="small-title-resource">Flights | Eat | Explore</p>
    </section>
  </div>

  <div>
    <h3>Flights</h3>
    <ul class="ul-resource">
      <li><a href="https://www.tripadvisor.com/Flights-g189952-Iceland-Cheap_Discount_Airfares.html" alt="Link to TripAdvisor Flights to Iceland" target="_blank" rel"author noopener noreferrer">TripAdvisor - Flight to Iceland</a></li>
      <li><a href="https://guidetoiceland.is/travel-info/flights-to-iceland" alt="Link to Guide to Iceland" target="_blank" rel"author noopener noreferrer">Guide to Iceland</a></li>
      <li><a href="http://www.icelandair.us/destinations/flights-to-reykjavik/?gclid=EAIaIQobChMIn_nv2urz2AIVSiOBCh2tJwpgEAAYASABEgLOAPD_BwE" alt="Link to IcelandAir" target="_blank" rel"author noopener noreferrer">IcelandAir</a></li>
    </ul>
  </div>

  <div>
    <h3>Eat</h3>
    <ul class="ul-resource">
        <li><a href="https://www.tripadvisor.com/Restaurant_Review-g189970-d3372076-Reviews-Bergsson_Mathus-Reykjavik_Capital_Region.html" alt="Link to Trip Advisor Bergsoon Mathus" target="_blank" rel"author noopener noreferrer">Bergsson Mathus</a></li>
        <li><a href="https://www.tripadvisor.com/Restaurant_Review-g189970-d10303158-Reviews-Matarkjallarinn_Foodcellar-Reykjavik_Capital_Region.html" alt="Link to Trip Advisor Matarkjallarinn" target="_blank" rel"author noopener noreferrer">Matarkjallarinn</a></li>
        <li><a href="https://www.tripadvisor.com/Restaurant_Review-g189970-d4106587-Reviews-Kaffivagninn-Reykjavik_Capital_Region.html" alt="Link to Trip Advisor Kaffivagninn" target="_blank" rel"author noopener noreferrer">Kaffivagninn</a></li>
      </ul>
  </div>

  <div>
    <h3>Explore</h3>
    <ul class="ul-resource">
        <li><a href="http://www.bluelagoon.com/" alt="Link to Blue Lagoon" target="_blank" rel"author noopener noreferrer">Blue Lagoon</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Th%C3%B3rsm%C3%B6rk" alt="Link to Wikipedia Thórsmörk" target="_blank" rel"author noopener noreferrer">Thórsmörk</a></li>
        <li><a href="http://icelagoon.is/" alt="Link to Jökulsárlón Glacier Lagoon" target="_blank" rel"author noopener noreferrer">Jökulsárlón - Glacier Lagoon</a></li>
      </ul>
  </div>
  
</article>